h1 {
font-size: 48px;
}

h2 {
    font-size: 32px;
}

p {
    font-family: Georgia;
    font-weight: normal;
    margin: 40px;
    line-height: 1.5;
}

img {
    width: 50%;
    padding-left: 350px;
}

a {

}

.titles {
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
}

.footer {
    background-color: #666;
    height: 200px;
    opacity: 0.1;
    padding-top: 50px;
    border-style: solid;
    border-color: red;
    border-width:2em;
}