body {
    /*width: 960px;*/
    padding: 10px 0;
    margin: auto;
    font-family: Arial, sans-serif;
    /*background: #444;*/
}

header {
    text-align: center;
    width: 960px;
    margin: auto;
    border-bottom: 1px solid #dddddd;
}


nav {
    background: linear-gradient(to right, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 52%, rgba(254,254,254,1) 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    float: none;
}
.hero_image {
    width: 960px;
    margin: auto;
    display: block;
}

video {
    width: 720px;
    margin: auto;
    display: block;
}

a {
    text-decoration: none;
    color: #222;
}

a:hover {
    color: red;
}

ul {
    width: 750px;
    margin: auto;
}
ul li {
    display: inline-block;
    padding:10px 0px;
    margin: 5px;
    width: 130px;
    background-color: yellow;
    border-radius:5px;
    text-decoration: none;
}

ul li:hover{
    cursor:pointer;
}

.logo {
    display: block;
}

.subtitle {
    text-align: center;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 25px;
    line-height: 1.5;
    width: 800px;
    margin: auto;
}

.left {
    float: right;
    width: 200px;
}

.right {
    float: left;
    width: 200px;
    border: solid 10px #cccccc;
    margin-right: 10px;
    margin-bottom: 10px;
}
article {
    width: 960px;
    margin: auto;
}

.gallery img {
    display: inline-block;
    width: 17%;
    height:150px;
    margin: 1.25%;
}

.gallery {
    background-color: #FFBFC0;
    border-top: 5px solid #FF6C73;

}
.description {
    padding: 15px;
    margin-top: 0;
    padding-top: 0;
    font-size: 12px;
}

.bottom_article {
    width: 960px;
    margin: auto;
}
.text {
    display: inline-block;
    width: 66%;
}
.gallery2 {
    background-color: #A9F7CC;
    border-right: 3px solid #333;
    width: 33%;
    display: inline-block;
    vertical-align: top;

}
.gallery2 img {
    padding: 3%;
    width: 43%;
    height:100px;
}

.summary {
    width:960px;
    margin: auto;
}
